[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
python-dotenv = ">=0.18.0"
"discord.py" = ">=1.7.3"
jishaku = ">=2.0.0"

[dev-packages]
pylint =  ">=2.9.3"
yapf = ">=0.31.0"
pytest = ">=6.2.4"
pytest-asyncio = ">=0.15.1"
dpytest = ">=0.5.3"
